Unityxx/[Ll]ibrary/
Unityxx/[Tt]emp/
Unityxx/[Oo]bj/
Unityxx/[Ll]ogs/
Unityxx/[Uu]ser[Ss]ettings/
Unityxx/[Bb]uild/
Unityxx/[Bb]uilds/
Unityxx/[Mm]emoryCaptures/
Unityxx/[Uu]ser[Ss]ettings/
Unityxx/.vs/
Unityxx/*.csproj
Unityxx/*.sln
Unityxx/*.slnx
